@import "tailwindcss";
@theme {
    --color-White: hsl(0, 0%, 100%);
    --color-Grey100: hsl(214, 17%, 92%);
    --color-Grey200: hsl(0, 0%, 81%);
    --color-Grey400: hsl(224, 10%, 45%);
    --color-Grey500: hsl(217, 19%, 35%);
    --color-Darkblue: hsl(219, 29%, 14%);
    --color-Black:hsl(0, 0%, 7%);
    --font-display:[Barlow Semi Condensed];
    --text-text:13px;
}